@import "~sass/mixins.scss";

$navig-height:50px;

.navigation {    
    .navigation-item {
        text-decoration: none;
        color: rgb(89, 96, 107);
        height: $navig-height;
        position: relative;
        display: block;
        background-color: #fff;
        @include separator;
        @include text( $site-font-size, 1);
        margin-top: 1px; 
        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            width: 0px;
        }
        .navigation-ico {
            margin-right: 23px;
            transition: $transition;
        }
        transition: $transition;
        &:hover{
            cursor: pointer;           
            background-color:$services-service-bg-hover-color;
            color: $services-service-text-hover-color;
            border-color: $services-service-text-hover-color;
        }
    }
    &.active{
        .navigation-item {
            position: relative;
            &:after{
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                right: 0;
                $border-active: 3px;
                border-bottom: $border-active solid $site-green-color;                
                height: $border-active;
            }
            &:hover{
                cursor: pointer;    
                &:after{       
                    border-bottom-color: lighten($site-green-color,10%);
                }
            }            
        }
    }
}