@import "~sass/mixins.scss";

.about-title{
    text-align: center;
    @include text(28px , 1); 
    margin: 0;
}
.about-body{
    text-align: left;
    color: $site-title-text-color;
    @include text(15.6px ,1.6, lighter); 
    margin: {
        top: 40px;
        bottom: 70px;
        left:0;
        right:0;
    }
    .about-left-text{
        padding-right: 40px;
        padding-left: 0;
    }
    .about-right-text{
        padding-left: 40px;
        padding-right: 0;
    }
}