@import "~sass/mixins.scss";

    h1{
        @include text( 42px ,0.625); 
        margin-bottom: 15px;
    }
    p{
        @include text( 18px ,1.5);
        width: 466px;
        margin-left: auto;
        margin-right: auto;
    }