<nav class="navbar-green d-flex">
    <div class="navbar-logo h-100">
        <img src="~images/Logo.png" alt="Denteez">
    </div>
    <form class="">
        <input class="form-control nav-search" type="text" placeholder="Company Name">
        <i class="fa fa-search fa-lg nav-search-ico" aria-hidden="true"></i>
    </form>
    <img class="nav-ico" src="~images/svg/chat.svg" />
    <img class="nav-ico" src="~images/svg/notifications.svg" />
    <div class="navbar-user">
        <div class="user-image">
            <img src="~images/User.jpg" alt="user">
        </div>

        <span class="user-name">
                Maximillian Beekeeper
        </span>
    </div>
</nav>