@import "~sass/mixins.scss";
.advertisement {
    position: relative;
    height: auto;
    .advertisement-title {
        @include title;
        margin-top: 22px;
        margin-bottom: 18px;
    }
    .advertisement-image {
        position: relative;
        display: inline-block;
        height: auto;
        width: 210px;
        border: $box-border;
    }
    .advertisement-description {
        display: inline-block;
        margin-top: 8px;
        margin-left: 2px;
        margin-bottom: 18px;
        color: rgb(211, 211, 211);
        @include text(11px ,1, lighter); 
    }
}