@import "~sass/mixins.scss";
.content {
    min-width: 970px;
    margin-top:10px; 
    position: relative;
    transition: margin 1s;
    @media (min-width: 1200px) {
        margin-left: 204px;
        margin-right: 222px;
    }
}