@import "~sass/mixins.scss";

.foo{ 
    position: relative;
    // пришлось такое делать, потому что элемент <foo> как бы не имеет атрибута высоты. И поэтому нельзя было поставить 100%
    height: $footer-height;
    padding-top:6px;

    .foo-text{
        color: $footer-color;
        @include text(12px ,1 ); 
        text-align: left;
        height: 100%;
        @include  my-v-align;
    }
    .copiright{
        float: left;
    }
    .rigth-foo-info{
        float: right;
        height: 100%;

        .foo-text{
            display: inline-block;
            margin-left:25px;             
        }
    }
}
