@import "~sass/mixins.scss";
@include get-modal('error', 'services',150px,500px);

.add-service {
    @include btn-denteez(145px, 30px);
    margin-right: 1px; // мне не нарвится такой кодинг, но что поделать если нужно постраивать под шаблон PSD
}
.title-center-main{
    @include text(30px,1);
}
.services-conteiner{
    margin-top:20px; 
    border: $box-border;
    border-radius:5px; 
    background: $services-conteiner-bg-color;
    padding-bottom:15px; 
}

$square:140px;
.category{    
    .service{
        width: $square;
        height: $square;
        border: $box-border;
        margin-top: 15px;
        background-color:$services-service-bg-color; 
        transition: $transition;
        position: relative;
        display: flex;
        .service-ico{
            margin: auto;
            $wh: 120px;
            height: $wh;
            width: $wh;
        }
    }
    .service-text{
        color: $site-text-color;
        @include text(13px,15px);
        text-align: center;
        width: $square - 20px;
        margin-top: 16px;
        margin-left:auto;
        margin-right: auto; 
        transition: $transition;
    }    
    &:hover{
        cursor: pointer;
        .service{            
            background-color:$services-service-bg-hover-color;
        } 
        .service-text{
            color: $services-service-text-hover-color;
        }
    }
}

