@import "~sass/mixins.scss";
.links {    
    .copyright {
        @include lft-sdbr-linkstext(12px, 10px);
        display: block;
        margin-top: 19px;
        margin-bottom: 11px;
    }
    .terms {
        @include lft-sdbr-linkstext(12px, 10px);
        display: inline-block;
        margin-right: 17px;
    }
    .privacy {
        @include lft-sdbr-linkstext(12px, 10px);
        display: inline-block;
    }
    .contact-us {
        @include lft-sdbr-linkstext(12px, 10px);
        display: block;
        margin-top: 17px;
    }
}