<div class="contactus-body">
    <div class="contactus-panel">
            <div class="form-panel">
                <p class="marked">Fields marked “*” are required</p>
                <div class="row">
                            <div class="drpdwn detist-textfield col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <label for="enquery">Name *</label>
                                <select id="enquery" name="Enquery">
                                    <option value="1">Some value</option>
                                    <option value="2">Some value</option>
                                    <option value="3">Some value</option>
                                </select>
                            </div>
                            <div class="detist-textfield if-other col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <input type="text" class="form-control" id="other" placeholder="Other">
                            </div>
                            <div class="detist-textfield col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                    <label for="name">Name *</label>
                                    <input type="text" class="form-control" id="name" placeholder="Dentist">
                            </div>
                            <div class="detist-textfield col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                    <label for="email">Email *</label>
                                    <input type="email" class="form-control" id="email" placeholder="rachelm@gmail.com">
                            </div>
                            <div class="detist-textfield col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <label for="subject">Subject *</label>
                                    <input type="text" class="form-control" id="subject">
                            </div>
                            <div class="detist-textfield col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <label for="description">Description *</label>
                                    <label for="description" class="align-right">(0/1000)</label>
                                    <textarea class="form-control" id="description"></textarea>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="image-placeholder">
                                    <div class="text-image-placeholder">
                                            <p class="title">Add photo</p>
                                            <p class="description">Minimum size of 300x300 jpeg ipg png 5 MB</p>
                                    </div>                                    
                                </div>
                            </div>
                </div>                
            </div>
            <div class="btn-submit">Submit</div>
    </div>
    
</div>