$site-green-color:rgb(135, 180, 72);
$site-text-color:rgb(28, 37, 52);
$site-title-text-color:rgb(124, 134, 149);
$separator-color:rgb(224, 226, 230);
$footer-color: rgb(183,191,205);

$color-left-bar-links: rgb(183, 191, 205);

$btn-add-color: $site-green-color;
$btn-add-hover-color: lighten($site-green-color,10%);
$btn-add-text-color:white;

$services-conteiner-bg-color:white;
$services-conteiner-border-color:rgb(224,226,230);

$services-service-bg-color:$services-conteiner-bg-color;
$services-service-bg-hover-color:rgb(244,247,251);
$services-service-border-color:$services-conteiner-border-color;
$services-service-text-hover-color:rgb(113,151,60);

$mui-b-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0px 2px 0 rgba(0, 0, 0, 0.12);
$mui-b-shadow-push: 0 2px 2px 0 rgba(0, 0, 0, 0.16) inset, 0 0px 2px 0 rgba(0, 0, 0, 0.12) inset;
$mui-b-shadow--hover: 0 0px 4px rgba(0, 0, 0, 0.12), 1px 3px 4px rgba(0, 0, 0, 0.2);

$box-border:1px solid $services-conteiner-border-color;
$border-input:1px solid rgb(200,205,213);
$validation-error-color:rgb(251,99,99);